a {
  text-decoration: none;
  color: black;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background-color: black;
  overflow: hidden;
  font-family: "Lato", sans-serif, arial;
  color: white;
}

.navbar-container {
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 530px;
  position: absolute;
  right: -35px;
  top: 20px;
  transform: scale(0.7);
  font-weight: 300;
  letter-spacing: 0.5px;
}

.navbar-container span:hover {
  color: #26d9a6;
  cursor: pointer;
}

.active {
  color: #26d9a6;
}

#rigby {
  position: relative;
  top: 231px;
  left: 54px;
  transform: scale(0.9);
}

#body {
  position: relative;
}

#tail {
  position: relative;
  left: 60px;
  top: -20px;
  z-index: 0;
}

#rightArm {
  position: relative;
  left: 160px;
  top: -168px;
}

#leftArm {
  position: relative;
  left: 130px;
}

#rightLeg {
  position: relative;
  left: 230px;
  top: 55px;
}

#leftLeg {
  position: relative;
  left: 245px;
  top: 55px;
}

#eyes {
  position: relative;
  top: -179px;
  left: -302px;
}

#eyebrows {
  position: relative;
  top: -207px;
  left: -230px;
}

#eyeStructure {
  position: relative;
  left: 480px;
  top: -135px;
}

#blink {
  opacity: 0;
  position: relative;
  left: -374px;
  top: -179px;
  z-index: 20;
}

#tres-osos {
  position: absolute;
  transform: scale(0.15);
  top: 10px;
  right: -500px;
}

#square-grey-triangles {
  position: absolute;
  transform: scale(0.4);
  top: -72px;
  right: 560px;
}

#blue-squares {
  position: absolute;
  transform: scale(0.82);
  left: -6px;
  bottom: 26px;
}

#cartoon-network {
  position: absolute;
  transform: scale(0.21);
  top: -73px;
  left: -148px;
}

#pink-triangles {
  position: absolute;
  transform: scale(0.4);
  right: 10px;
  bottom: 10px;
}

#faq-title {
  position: absolute;
  transform: scale(0.16);
  top: -165px;
  right: 535px;
}

#faq-container {
  position: absolute;
  width: 892px;
  height: 410px;
  background-color: black;
  right: 262px;
  top: 150px;
}

#faq-left-tile-bg {
  position: relative;
  transform: scale(0.34);
  bottom: 358px;
  left: -287px;
}

#square-diagonal-lines {
  position: relative;
  top: -755px;
  transform: scale(0.35);
  left: 258px;
  z-index: 20;
}

#faq {
  position: relative;
  top: -1206px;
  right: -297px;
  width: 610px;
  height: 367px;
  background-color: pink;
  background: #ca6e29;
  /* Old browsers */
  background: -moz-linear-gradient(45deg, #ca6e29 0%, #ca6f29 16%, #ca6f29 28%, #d82177 74%, #d82177 100%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(45deg, #ca6e29 0%, #ca6f29 16%, #ca6f29 28%, #d82177 74%, #d82177 100%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(45deg, #ca6e29 0%, #ca6f29 16%, #ca6f29 28%, #d82177 74%, #d82177 100%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ca6e29', endColorstr='#d82177',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
}

.rights {
  position: absolute;
  transform: scale(0.6);
  bottom: 10px;
  left: -25px;
}

.find-answer {
  position: relative;
  z-index: 30;
  top: -1197px;
  right: -450px;
  font-size: 11px;
  font-weight: 100;
  letter-spacing: 1px;
}

#button {
  position: relative;
  z-index: 30;
  top: -1197px;
  right: -478px;
  width: 300px;
  height: 100px;
  background-color: #26d9a6;
  font-size: 11px;
  font-weight: 400;
  padding: 13.52px 83px;
}

#button:hover {
  background-color: white;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 189px;
  position: absolute;
  right: 5px;
  bottom: -235px;
}

.footer svg {
  transform: scale(0.3);
}

.footer svg:hover path {
  cursor: pointer;
  fill: #26d9a6;
}

.footer path {
  transition: all ease-in-out 200ms;
}
